
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

.group{
    font-family:  var(--font);
    font-size: 15px;




}
.img{
    height: 240px;
    width: 230px;
    border-radius: 10px;
}

.hour{

    font-family:  var(--font);
    font-size: 15px;
    text-align: left;



}
.headerCard{

    font-weight: lighter;
    font-size: 18px;


    color: #292B38;
    text-align: left;
    font-family: raleway_f,sans-serif;



}
.headerContainer{
    width: 230px;

    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.price{

    font-weight: lighter;
    font-size: 25px;
    line-height: 28px;

    font-family: 'Cairo', sans-serif;
}
.ExpandMore{
    text-align: center;

}